@font-face {
   font-family: 'AgencyFBBoldCondensed';
   font-display: swap;
   src: url('file:///C:/Users/Matthelzor/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-08-06_115335/fonts/AgencyFBBoldCondensed/font.ttf');
}
